*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit; background-color: transparent; user-select: none;}
button, img, .btn{user-select: none;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body.lock{overflow: hidden;}
.background{
    width: 480px;
    height: 412px;
    background-color: #eff0f2;
    position: absolute;
    z-index: 1;
    top: 40px;
}
.container{
    width: 1140px;
    margin: auto;
}
.title{
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    opacity: 0.9;
    text-align: center;
    padding-top: 120px;
}
.subtitle{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Merriweather";
    opacity: 0.62;
    text-align: center;
    margin-top: 10px;
}
header{
    height: 805px;
    background-color: #eff0f2;
}
.bar{
    position: fixed;
    display: flex;
    width: 1140px;
    margin-top: 30px;
    z-index: 11;
}
.logo{
    flex-basis: 100%;
    z-index: 11;
}
.burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 11;
    margin: 9px 0px;
    cursor: pointer;
}
.burger-menu span{
    position: absolute;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all 0.3s ease 0s;
}
.burger-menu::before, .burger-menu::after{
    content: '';
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.burger-menu::before{
    top: 0;
}
.burger-menu::after{
    bottom: 0;
}
.burger-menu.active span{
    background-color: #fff;
}
.burger-menu.active::before,.burger-menu.active::after{
    background-color: #fff;
}
.burger-menu.active::before{
    transform: rotate(45deg);
    top: 8px;
}
.burger-menu.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.burger-menu.active span{
    transform: scale(0);
}
.menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 70px;
    transition: all 0.5s ease 0s;
    overflow: auto;
}
.menu.active{
    top: 0;
}
.menu ul li{
    padding: 15px 0px;
    text-align: center;
}
.menu ul li a{
    color: #fff;
    font-size: 26px;
    padding: 15px 0px;
    font-weight: 400;
    font-family: "Montserrat";
    background-color: transparent;
}
.menu ul li a.home.active,
.menu ul li a.about.active,
.menu ul li a.works.active,
.menu ul li a.services.active,
.menu ul li a.team.active,
.menu ul li a.testimonial.active,
.menu ul li a.contact-us.active{
    color: #56F4E8;
    cursor: default;
}
.header-center{
    text-align: center;
    padding-top: 300px;
}
.header-center h1{
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 55px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-shadow: 3.517px 7.285px 10px rgba(0,0,0,0.4);
    margin-bottom: 130px;
}
.header-center span.h-ex-text{
    background-color: rgba(118, 244, 234, 0.5);
}
.header-center a{
    padding: 13px 45px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-family: "Montserrat";
    transition-duration: 250ms;
}
.header-center a:hover{
    background-color: rgba(113, 246, 235, 1);
}
.container .down-images{
    margin-top: 10px;
    text-align: right;
}
.about-us{
    height: 985px;
    background-color: #f8fafa;
}
.slider-item img{
    width: 392px;
    height: 483px;
    position: relative;
    z-index: 2;
    left: 45px;
}
.slider-careers{
    width: 480px;
}
.slider-careers .slick-track{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.slider-careers .slick-list{
    overflow: hidden;
}
.slider-careers .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.slider-careers .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #d0d0d0;
    margin: 0px 2px;
}
.slider-careers .slick-dots .slick-active button{
    background-color: #71f6eb;
}
.slider-careers .slider-item{
    outline: none;
}
.about-us .container .content{
    display: flex;
    margin-top: 130px;
}
.about-us .container .text{
    width: 470px;
    margin-left: 50px;
}
.about-us .container .text .text-title{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Merriweather";
    opacity: 0.75;
    margin-bottom: 20px;
}
.desc{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    opacity: 0.74;
    margin-bottom: 30px;
}
.desc:last-child{
    margin-bottom: 0;
}
.work{
    height: 1165px;
    background-color: #fff;
}
.work .container .boxs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: center;
}
.work .container .boxs .box{
    margin: 5px;
}
.work .container .boxs .box img{
    width: 360px;
    height: 360px;
    background-color: #00aeef;
}
.services{
    height: 1618px;
    background-color: #f9fbfb;
}
.services .container .boxs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
.services .container .boxs .box-1-s{
    width: 652px;
    height: 416px;
    background: url('../IMG/services/img1.png') 0 0/100% #00aeef no-repeat;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
.services .container .boxs .box-2-s{
    width: 474px;
    height: 416px;
    background: url('../IMG/services/img2.png') 0 0/100% #00aeef no-repeat;
}
.services .container .boxs .box-3-s{
    width: 652px;
    height: 416px;
    background: url('../IMG/services/img3.png') 0 0/100% #00aeef no-repeat;
    margin-right: 5px;
    margin-bottom: 5px;
}
.services .container .boxs .box-4-s{
    width: 474px;
    height: 416px;
    background: url('../IMG/services/img4.png') 0 0/100% #00aeef no-repeat;
}
.services .container .boxs .box-5-s{
    width: 474px;
    height: 416px;
    background: url('../IMG/services/img5.png') 0 0/100% #00aeef no-repeat;
    margin-right: 5px;
}
.services .container .boxs .box-6-s{
    width: 652px;
    height: 416px;
    background: url('../IMG/services/img6.png') 0/100% #00aeef no-repeat;
}
.box-1-content, .box-2-content, .box-3-content, .box-4-content, .box-5-content, .box-6-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.box-1-s,.box-2-s,.box-3-s,.box-4-s,.box-5-s,.box-6-s{
    position: relative;
}
.close-icon{
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    cursor: pointer;
    margin-left: 25px;
    top: 350px;
}
.close-icon::before,.close-icon::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 3px;
}
.close-icon::before{
    transform: rotate(45deg);
    top: 7px;
}
.close-icon::after{
    transform: rotate(-45deg);
    bottom: 7px;
}
.title-box-hover{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #000000;
    font-weight: 700;
    font-family: "Merriweather";
    opacity: 0.83;
    padding: 70px 25px 0px 25px;
}
.text-box-hover{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    opacity: 0.75;
    padding: 8px 25px 100px 25px;
}
.box-1-hover,.box-3-hover,.box-6-hover{
    width: 100%;
    height: 416px;
    position: relative;
    background-color: #6df6eb;
    visibility: hidden;
}
.box-2-hover,.box-4-hover,.box-5-hover{
    width: 100%;
    height: 416px;
    position: relative;
    background-color: #6df6eb;
    visibility: hidden;
}
.box-1-hover.active,.box-2-hover.active,.box-3-hover.active,.box-4-hover.active,.box-5-hover.active,.box-6-hover.active{
    visibility: visible;
}
.title-box{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Merriweather";
    opacity: 0.95;
    padding: 70px 25px 0px 25px;
}
.text-box{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    opacity: 0.8;
    padding: 8px 25px 80px 25px;
}
.know-more{
    font-size: 18px;
    letter-spacing: 1px;
    color: #f9fbfb;
    font-weight: 500;
    font-family: "Raleway";
    opacity: 0.9;
    padding: 10px;
    cursor: pointer;
    transition-duration: 250ms;
    position: absolute;
    top: 350px;
    left: 15px;
}
.know-more:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.know-more img{
    margin-left: 10px;
}
.team{
    height: 1315px;
    background-color: #fff;
}
.team .container .boxs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}
.team .container .boxs .box{
    width: 370px;
    height: 440px;
    position: relative;
    margin: 5px 5px;
}
.team .container .boxs .team-img{
    width: 100%;
    height: 100%;
    background-color: #ff4949;
    position: absolute;
}
.tooltip-1{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-1.active{
    opacity: 1;
}
.tooltip-1::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-1 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-1 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-1 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.tooltip-2{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-2.active{
    opacity: 1;
}
.tooltip-2::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-2 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-2 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-2 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.tooltip-3{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-3.active{
    opacity: 1;
}
.tooltip-3::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-3 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-3 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-3 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.tooltip-4{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-4.active{
    opacity: 1;
}
.tooltip-4::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-4 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-4 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-4 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.tooltip-5{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-5.active{
    opacity: 1;
}
.tooltip-5::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-5 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-5 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-5 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.tooltip-6{
    width: 335px;
    height: 241px;
    filter: drop-shadow(2.735px 6.444px 8px rgba(20,20,21,0.18));
    background-color: #6df6eb;
    border-radius: 10px;
    position: relative;
    color: #fff;
    margin: 180px auto 0px auto;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.tooltip-6.active{
    opacity: 1;
}
.tooltip-6::before{
    content: ''; 
    position: relative;
    left: 20px;
    bottom: 25px;
    border: 15px solid transparent;
    border-bottom: 20px solid #6df6eb;
}
.tooltip-6 .tooltip-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    font-family: "Merriweather";
    margin: 20px 0px 8px 50px;
    opacity: 0.95;
}
.tooltip-6 .tooltip-title span{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.tooltip-6 .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    margin-left: 50px;
    opacity: 0.8;
}
.soc-icon{
    margin: 30px 0px 0px 50px;
}
.soc-icon img{
    margin: 2px;
}
.testimonial{
    height: 923px;
    background-color: #f9fbfb;
}
.sl-info .pic{
    width: 392px;
    height: 483px;
    position: relative;
    z-index: 2;
    left: 45px;
}
.sl-info{
    width: 100%;
    position: relative;
    margin-top: 100px;
}
.sl-info .slick-track{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.sl-info .slick-list{
    overflow: hidden;
}
.sl-info .slick-dots{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 200px;
}
.sl-info .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    margin: 0px 2px;
    background-color: #d0d0d0;
}
.sl-info .slick-dots .slick-active button{
    background-color: #71f6eb;
}
.sl-info .el-info{
    outline: none;
    display: flex;
}
.sl-info .slick-arrow{
    width: 11px;
    height: 21px;
    position: absolute;
    font-size: 0;
    top: 90%;
    z-index: 10;
}
.sl-info .slick-arrow.slick-prev {
    right: 60px;
    background: url("../IMG/testimonial/arrow-prev.png") 0 0/100% no-repeat;
}
.sl-info .slick-arrow.slick-next {
    right: 0;
    background: url("../IMG/testimonial/arrow-next.png") 0 0/100% no-repeat;
}
.sl-info button.slick-arrow{
    width: 53px;
    height: 53px;
    background-color: burlywood;
}
.sl-info .slick-prev.slick-disabled{
    background: url("../IMG/testimonial/arrow-prev-disabled.png") 0 0/100% no-repeat;
}
.sl-info .slick-next.slick-disabled{
    background: url("../IMG/testimonial/arrow-next-disabled.png") 0 0/100% no-repeat;
}
.info-t{
    width: 600px;
    height: 362px;
    border-radius: 3px;
    background-color: #eaebed;
    margin-left: 140px;
    margin-top: 40px;
}
.info-t .info-title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Merriweather";
    text-align: center;
    margin-top: 90px;
}
.info-title span{
    font-weight: 300;
    font-style: oblique;
    font-size: 14px;
}
.info-text{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
    margin-top: 15px;
}
.stars{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logos{
    height: 300px;
    background-color: #fff;
}
.logos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}
.logo-1{
    margin: 0px 0px 40px 300px;
}
.logo-2{
    margin: 10px 50px 0px 50px;
}
.logo-3{
    margin-right: 300px;
}
.logo-5{
    margin: -10px 50px 0px 50px;
}
.logo-6{
    margin-top: 10px;
}
.logo-7{
    margin: 10px 50px 0px 50px;
}
.logo-9{
    margin: -10px 0px 0px 50px;
}
footer{
    height: 706px;
    background: url('../IMG/footer/background.png') 0 0/100% #f9fbfb no-repeat;
}
footer .container{
    display: flex;
    padding-top: 120px;
}
.contact{
    width: 614px;
    height: 460px;
    filter: drop-shadow(0 0 15px rgba(21,21,21,0.12));
    background-color: rgba(2, 22, 35, 0.71);
    margin-right: 25px;
}
.contact form .holder{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin: auto;
    padding-top: 20px;
}
.contact form .field{
    width: 100%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-family: "Raleway";
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 20px 10px;
}
.contact form .field-massage{
    max-width: 550px;
    max-height: 150px;
    resize: none;
    line-height: 20px;
    margin-bottom: 0;
}
.contact .holder button{
    width: 244px;
    height: 53px;
    border-radius: 2px;
    background-color: #6eeee4;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 30px;
}
.adress{
    width: 500px;
    height: 460px;
    filter: drop-shadow(0 0 1.5px rgba(21,21,21,0.16));
    background-color: rgba(2, 22, 35, 0.71);
}
.adress .holder{
    width: 455px;
    margin: auto;
    padding: 30px;
}
.adress p{
    font-size: 15px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-family: "Raleway";
}
.adress img{
    width: 455px;
    height: 224px;
    display: block;
    margin: auto;
}
.footer-info{
    height: 312px;
    background-color: #262b2e;
    margin-top: 120px;
}
.footer-info .holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow-info{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    padding-top: 80px;
    opacity: 0.8;
}
.social-icon{
    margin-top: 30px;
}
.icon-pinterest{
    padding: 13px 14px;
    background-color: rgba(141, 141, 141, 0.4);
    transition: all 500ms ease 0s;
    margin: 0px 5px;
}
.icon-pr{
    padding: 3px 8.5px;
    background: url('../IMG/footer/social/pinterest-disable.png');
}

.icon-pr.active{
    background: url('../IMG/footer/social/pinterest-active.svg');
}
.icon-pinterest.active{
    background-color: #71f6eb;
}

.icon-twitter{
    padding: 13px 12px;
    background-color: rgba(141, 141, 141, 0.4);
    transition: all 500ms ease 0s;
    margin: 0px 5px;
}
.icon-tw{
    padding: 1px 10px;
    background: url('../IMG/footer/social/twitter-disable.png');
}

.icon-twitter.active{
    background-color: #71f6eb;
}
.icon-tw.active{
    background: url('../IMG/footer/social/twitter-active.svg');
}

.icon-facebook{
    padding: 13px 16px;
    background-color: rgba(141, 141, 141, 0.4);
    transition: all 500ms ease 0s;
    margin: 0px 5px;
}
.icon-fb{
    padding: 3px 6px;
    background: url('../IMG/footer/social/facebook-disable.png');
}

.icon-facebook.active{
    background-color: #71f6eb;
}
.icon-fb.active{
    background: url('../IMG/footer/social/facebook-active.svg');
}

.icon-dribbble{
    padding: 13px 12px;
    background-color: rgba(141, 141, 141, 0.4);
    transition: all 500ms ease 0s;
    margin: 0px 5px;
}
.icon-dl{
    padding: 3px 10px;
    background: url('../IMG/footer/social/dribbble-disable.png');
}

.icon-dribbble.active{
    background-color: #71f6eb;
}
.icon-dl.active{
    background: url('../IMG/footer/social/dribbble-active.svg');
}
.footer-info .text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    margin-top: 45px;
    opacity: 0.4;
    text-align: center;
}